* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	border: 1px solid black;
	height: 10vh;
	/* align-items: center;
	justify-content: center; */
}
nav ul{
	display: flex;
	padding: 10px;
	align-items: center;
	/* justify-content: center; */

}

nav ul li {
    padding: 5px 10px;
    justify-content: flex-end;
}

nav>ul{
	list-style: none;
}

.headerLogo{
	justify-content: flex-start;
	margin-left: 150px;
	text-decoration: none;
}

.list > li {
	justify-content: flex-end;
}